In [4]:
import numpy as np
import numpy.random as npr
from scipy.stats import norm
from math import log, sqrt, pi, exp
import pandas as pd

# TASK 2

In [5]:
def d11(S,K,T,r,sigma):
    return(log(S**5/K)+(5*r+10*sigma**2+25*sigma**2/2.)*T)/(sigma*sqrt(T))

def d21(S,K,T,r,sigma):
    return(log(S**5/K)+(5*r+10*sigma**2-25*sigma**2/2.)*T)/(sigma*sqrt(T))

def bs_call1(S,K,T,r,sigma):
    price = S**5*norm.cdf(d11(S,K,T,r,sigma))-K*np.exp(-r*T)*norm.cdf(d21(S,K,T,r,sigma))
    return price

In [6]:
bs_call1(2,1,1,0.02,0.2)

31.019801326693244

# TASK 3

### Let's get the price of the 2-year call and put option on BRKa, risk-free rate is 0.045 (30 year USA bond yield https://ru.investing.com/rates-bonds/u.s.-30-year-bond-yield)

### Start date is 11/29/2023

In [211]:
r = 0.045
T = 1

In [199]:
df = pd.read_csv('BRKa.csv')
df

            Date    Price     Open     High      Low   Vol. Change %
0     11/29/2023  547,673  548,486  548,750  545,250  6.46K    0.15%
1     11/28/2023  546,869  547,930  549,189  545,882  6.93K   -0.11%
2     11/27/2023  547,445  549,505  553,259  545,425  9.91K   -0.37%
3     11/24/2023  549,500  549,943  550,995  547,900  7.71K    0.00%
4     11/22/2023  549,520  549,225  550,843  546,403  7.27K    0.35%
...          ...      ...      ...      ...      ...    ...      ...
3496  01/08/2010  100,300   99,900  100,300   99,700  0.50K    0.30%
3497  01/07/2010  100,000   99,594  100,000   99,594  0.57K    0.15%
3498  01/06/2010   99,850  100,000  100,000   99,500  0.58K    0.14%
3499  01/05/2010   99,710   99,790  100,001   99,550  1.19K    0.11%
3500  01/04/2010   99,600   99,350   99,910   99,201  1.34K    0.40%

[3501 rows x 7 columns]

In [200]:
df.describe()

              Date    Price     Open     High      Low   Vol. Change %
count         3501     3501     3501     3501     3501   3501     3501
unique        3501     3267     3124     3300     3272    525      585
top     11/29/2023  119,700  300,000  315,000  295,000  0.28K    0.00%
freq             1        5        9        5        6     77       27

In [201]:
df.head()

         Date    Price     Open     High      Low   Vol. Change %
0  11/29/2023  547,673  548,486  548,750  545,250  6.46K    0.15%
1  11/28/2023  546,869  547,930  549,189  545,882  6.93K   -0.11%
2  11/27/2023  547,445  549,505  553,259  545,425  9.91K   -0.37%
3  11/24/2023  549,500  549,943  550,995  547,900  7.71K    0.00%
4  11/22/2023  549,520  549,225  550,843  546,403  7.27K    0.35%

In [202]:
df['Price'] = df['Price'].str.replace(',', '').astype('float')
df['Change %'] = df['Change %'].str.replace('%', '').astype('float')

In [203]:
df['Price']

0       547673.0
1       546869.0
2       547445.0
3       549500.0
4       549520.0
          ...
3496    100300.0
3497    100000.0
3498     99850.0
3499     99710.0
3500     99600.0
Name: Price, Length: 3501, dtype: float64

In [204]:
std = np.std(df['Change %']/100).astype(float)
print(std)
vol = std*(252)**(0.5)
print(vol)

0.011999139438972095
0.19048043341384355

In [205]:
def d1(S,K,T,r,sigma):
    return(log(S/K)+(r+sigma**2/2.)*T)/(sigma*sqrt(T))

def d2(S,K,T,r,sigma):
    return d1(S,K,T,r,sigma)-sigma*sqrt(T)

def bs_call(S,K,T,r,sigma):
    price = S*norm.cdf(d1(S,K,T,r,sigma))-K*np.exp(-r*T)*norm.cdf(d2(S,K,T,r,sigma))
    return price
    
def bs_put(S,K,T,r,sigma):
    price = K*np.exp(-r*T)*norm.cdf(-1*d2(S,K,T,r,sigma))-S*norm.cdf(-1*d1(S,K,T,r,sigma))
    return price

In [206]:
Stock = int(df['Price'][0])

In [212]:
print('The price of call option is '+str(round(bs_call(Stock,Stock,T,r,vol),2)))

The price of call option is 53815.68

In [213]:
print('The price of put option is '+str(round(bs_put(Stock,Stock,T,r,vol),2)))

The price of put option is 29716.69